*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    margin:0px;
    padding:0px;
}
:root{
    --white:#fff;
    --litegray-color:rgb(212, 207, 207);
    --Orange:#f5564e;
    --gray:#808080;
    --black:#000;
    --primary-clr:#1a3263;
}
#showcase{
    background-color:var(--primary-clr);
    background-image:url('imgs/showcase.jpg');
    background-size:cover;
    background-origin: center;
    background-position:center;
    height:100vh;
    display:flex;
    flex-direction: column;
    position:relative;
}
.showcase_wrapper{
    height:90%;
    border:2px solid yellow;
}
.container{
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.container .avatar{
    border-radius:50%;
}
.container .avatar img{
    width:100%;
    max-height:200px;
    max-width:200px;
    border-radius:50%;
}
/* Nav bar */
#navigation{
    align-self: flex-start;
    height:10%;
    width:100%;
    position:sticky;
    top:0;
    border:2px solid red;
}
#navigation header{
    height:100%;
    align-items:center;
    padding-top:20px;
    padding-bottom:20px;
}

#navigation .nav-1 ul{
    display:flex;
    justify-content: space-evenly;
    list-style: none;
}
#navigation .nav-1 a{
    text-decoration:none;
    color:#000;
    font-size:1.5em;
}


