:root{
    --white:#fff;
    --litegray-color:rgb(212, 207, 207);
    --Orange:#f5564e;
    --gray:#808080;
    --black:#000;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin:0px;
    padding:0px;
    height: 100vh;
    min-height:100vh;
}

/* Home*/

#showcase{
    height:100vh;
    min-height:100vh;
    display:flex;
    justify-content:center;
}
.showcase_wrapper{
  height:100%;
  width:100%;
  color:var(--white);
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
  text-align:center;
  line-height:1.6;
  background-image:url('imgs/showcase.jpg');
  background-size:cover;
  background-position:center;
  background-color:rgb(9, 60, 156);
}
.avatar{
    padding:10px;
}
.avatar img{
    width:200px;
    border-radius:50%;
    max-width:100%;
    max-height:220px;
    object-fit:fill;
    border:2px solid #fff;
    
}
.container span{
    font-size:20px;
    font-family: "Xanh Mono",Arial, Helvetica, sans-serif;
    color:var(--black);
    font-weight:bold;
}
#showcase .viewmore{
    width:80%;
    background-color:transparent;
    border:1px solid #fff;
    border-radius:20px;
    margin:auto;
}
#showcase .viewmore ul, 
#showcase .viewmore a{
    width:100%;
    list-style: none;
    text-decoration:none;
    color:#fff;
    font-size:24px;
}
#showcase .viewmore i{
    padding-left:5px;
}

#showcase .viewmore a:hover{
    text-decoration:underline;
    color:#fff;
}
#showcase .viewmore:focus{
    outline:none;
}
/*Navigation bar*/
.nav{
    background-color:#1a2c5b;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    padding-bottom:4px;
    box-shadow: 0 0 4px 4px rgba(119, 117, 117, 0.8);
}
.nav .nav-1{
    text-align:right;
}
.nav-1 div{
    margin-top:6px;
}
#home .nav-1 li{
    display:inline;
    margin:15px 40px;
    list-style:none;
}

#home .nav-1 a{
    font-weight:bold;
    text-decoration:none;
    color: var(--white);
    font-family:"Xanh Mono", Arial,Helvetica, sans-serif;
}
#home .nav-1 a:hover{
    text-decoration:none;
    font-family:"Xanh Mono", Arial,Helvetica, sans-serif;
    text-decoration: underline;
}
/* projects */
#projects{
    margin-top: 30px;
    display:flex;
    flex-direction:column;
    min-height:100vh;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    background-color:#e8e2db;
}
#proj{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:auto auto auto;
    grid-gap:10px;
    margin:auto;
}
#proj .images1{
    grid-column: 1/ span 1;
    grid-row:1/span 1;
}
#proj .images2{
    grid-column: 2/span 1;
    grid-row: 1/span 1;
}
#proj .images3{
    grid-column:3/span 1;
    grid-row:1/span 1;
}
#proj .images4{
    grid-column:1/span 1;
    grid-row:2/span 1;
}
#proj .images5{
    grid-column:2/span 1;
    grid-row:2/span 1;
}
#proj .images6{
    grid-column:3/span 1;
    grid-row:2/span 1;
}
#proj .images7{
    grid-column:1/span 1;
    grid-row:3/span 1;
}
#proj .images8{
    grid-column:2/span 1;
    grid-row:3/span 1;
}
#proj .images9{
    grid-column:3/span 1;
    grid-row:3/span 1;
}
.images{
    text-align:center;
    padding:10px;
    width:300px;
    max-width:300px;
}
.images img{
    width:100%;
    height:230px;
    object-fit: cover;
    transition: box-shadow .85s linear,
                border-radius .85s linear;
}
.images img:hover{
    box-shadow: 3px 3px 10px rgba(0,0,0,0.6);
    border-radius:20px;
}
.proj-h{
    font-family:"Xanh Mono",Arial, Helvetica, sans-serif;
    font-size:22px;
    margin:0 auto;
    padding:10px 0;
}
.proj-h h2{
    font-size: 22px;
}

/* About */
#about{
    background-color:var(--litegray-color);
    min-height:100vh;
    margin-top:20px;
    padding:10px;
}
.container-2{
    padding:8px;
}
.attributes h3{
    text-align:center;
    font-family:"Xanh Mono",Arial, Helvetica, sans-serif;
    font-size:22px;
    padding-top:4px;
    margin-bottom:20px;
}
.personal{
    display:flex;
    flex-direction:column;
    height:auto;
    text-align:center;
    width:80%;
    margin:auto;
    background-color:#e8e2db;
    border-radius:10px;
    padding:4px;
    box-shadow:2px 2px 6px 2px rgb(58, 57, 57);
}
.image,.description{
    width:100%;
}

.image img{
    width:200px;
    max-width:100%;
    max-height:220px;
    padding:10px;
    border-radius:50%;
    object-fit: fill;
}

.card-1, .card-2, .card-3, .card-4{
    width:100%;
    margin-top:0px;
    text-align:center;
    padding:20px;
}
.description li{
    list-style:none;
    line-height:1.6;
}
.description i{
    color:#1a2c5b;
    padding:12px;
} 
.skills{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap:40px;
}
.skills .skill_wrapper{
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    min-width:150px;
    min-height:150px;
}
.status-bar{
    width:50%;
    margin:auto;
    height:100%;
}
.status-bar .span{
    background-color:#000;
    border-radius: 6px;
    overflow: hidden;
    height:10px;
}
 .html-card{
    background-color:#1fa1da;
    width:65%;
    height:10px;
}
 .css-card{
    background-color:#1fa1da;
    width:65%;
    height:10px;
}
.js-card{
    background-color:#1fa1da;
    width:10%;
    height:10px;
}

.java-card{
    background-color:#1fa1da;
    width:50%;
    height:10px;
}
.java-card i{
    color:#000;
    font-weight:bold;
}
/* About, skills section grid items */
.item1{
    grid-column: 1/span 1;
    grid-row:1/span 1;
}
.item2{
    grid-column: 2/span 1;
    grid-row:1/span 1;
}
.item3{
    grid-column: 1/span 1;
    grid-row:2/span 1;
}
.item4{
    grid-column: 2/span 1;
    grid-row:2/span 1;
}

/*Contact Details*/
.contact{
    width:100%;
    min-height:150px;
    display:flex;
    justify-content:space-around;
    padding:10px;
    background-color:#e8e2db;
    color:#000;
    font-family:"Xanh Mono",Arial, Helvetica, sans-serif;
    font-weight:bold;
    padding-bottom:20px;
}

.home-address{
    padding:10px;
    flex:1;
}
.social-links{
    display:flex;
    flex-direction:column;
    height:100%;
    flex:1;
    align-items: flex-end;
    order:3;
    padding:10px;
}
.socialMedia{
    width:100%;
    height:80%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding:10px;
}
.follow{
    height:20%;
    width:80%;
    padding:10px;
    margin:auto;
}
.social{
    height:60px;
    width:60px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color:#f2f5f5 ;
    box-shadow: 0 0 10px 4px #bcc0c0;
}
.social a{
    height:75%;
    width:75%;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-decoration:none;
    background:linear-gradient(0deg, #fff,rgb(177, 171, 171));
    outline:none;
}
.social i{
    border-radius: 50%;
    color:#1a2c5b;
}
.phone i, .home-address i{
    margin-right:10px;
    color:#1a2c5b;
}
.socialMedia .fb i:hover{
    color:rgb(50, 50, 184);
}
.socialMedia .twitter i:hover{
    color:rgba(74, 135, 228, 0.863);
}
.socialMedia .github i:hover{
    color:rgba(0,0,0, 0.8);
}
.socialMedia .insta i:hover{
    background: radial-gradient(circle at 30% 107%,#fdf497 0%,#fdf497 5%,#fd5949 45%,#d6249f 60%,#285aeb 90%);
    /* color:rgba(206, 10, 43, 0.822); */
}
.phone{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex:1;
    order:2;
    padding:10px;
    height:100%;
}
.phone .mail, .phone .cellNumber{
    padding:10px;
}
.phone a{
    text-decoration: none;
    color:#000;
}
.phone, .social-links{
    border-left:2px solid #1a2c5b;
}



